li {
  font-size: 25px;
  color: #556273;
}

.jumbotron {
  text-align: center;
  font-weight: bold;
  background-color: #a55502;
  color: #f8f8f8;
}

body {
  background-color: #f1f2ed;
  color: #556273;
  font-family:'Laila', serif;
  font-size: 15px;
}

p {
  font-size: 20px;
}


button {
  background-color: #b7cbc2;
  font-size:10px;
  margin-bottom: 4px;
}

input {
  background-color: #f8f8f8;
}

label {
  font-size: 21px;
  margin-left: 4px;
  margin-right: 10px:
}

a {
  color: #556273;
}

.output-detail {
  font-size: 18px;
}

.review_titles {
  color: #a55502;
  font-weight: bolder;
}

.output-title{
  font-size: 20px;
}
